<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Apollo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Apollo.Properties.Settings>
            <setting name="PrimaryOutput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopAllSoundsHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondaryOutput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicInjector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Microphone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrimaryGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SecondaryGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MicrophoneGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MicInjectorHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="ExitToTray" serializeAs="String">
                <value>True</value>
            </setting>
        </Apollo.Properties.Settings>
    </userSettings>
</configuration>