<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NUT_Soundboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Apollo_Soundboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Apollo_Soundboard.Properties.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NUT_Soundboard.Properties.Settings>
            <setting name="PrimaryOutput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopAllSoundsHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondaryOutput" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MicInjector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Microphone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrimaryGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SecondaryGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MicrophoneGain" serializeAs="String">
                <value>1</value>
            </setting>
        </NUT_Soundboard.Properties.Settings>
        <Apollo_Soundboard.Properties.Settings>
            <setting name="PrimaryOutput" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="StopAllSoundsHotkey" serializeAs="String">
                <value />
            </setting>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondaryOutput" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="MicInjector" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Microphone" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrimaryGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SecondaryGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MicrophoneGain" serializeAs="String">
                <value>1</value>
            </setting>
        </Apollo_Soundboard.Properties.Settings>
        <Apollo_Soundboard.Properties.Default>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="StopAllSoundsHotkey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrimaryOutput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecondaryOutput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="a" serializeAs="String">
                <value />
            </setting>
        </Apollo_Soundboard.Properties.Default>
    </userSettings>
</configuration>